# dev
.vercel/
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
.vercel


# locks
yarn.lock
yarn-lock.yaml
package-lock.json
pnpm-lock.yaml
bun.lock
bun.lockb
deno.lock

# build & dist
dist/
build/
out/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
*~